body{

	background-color:#4683c1;
}

.navbar{

	background-color:#e8e8e8 !important;

}

.navbar img{

	width:150px;

}

.navbar li{

	list-style:none;

}

.navbar a:hover{

	color:#244181;

}

.nav{

	background-color:#f6f6f6 !important;
	border-radius:4px !important;

}

.nav a{

	color:#071e51;
	font-size:14px; 

}

.nav .active{

	background-color:#6fb5bf !important;

}

.card{

	width:280px;
	margin:0 auto; 
	border-radius:10px;
	box-shadow:0px 2px 2px rgba(0, 0, 0, 0.2);

}

.card-body{

	padding-bottom:2px !important;
	padding-top:10px !important;

}

.card p{

	margin:0;
	padding:0;

}

.icone-card{

	font-size:70px;

}

.titulo-card{

	font-size:15px;
	text-align:right;

}

.subtitulo-card{

	font-size:40px;
	text-align:right;

}

.rodape-card{

	font-size:13px;
	text-align:center;

}

.badge{

	background-color:#071e51 !important;
	color:#fff;
}

.nav .active .badge{

	background-color:#fff !important;
	color:#071e51;
}

.registo{

	font-size:15px;
	margin-right:5px;
	color:#FFF;
	
}

td{

	color:#FFF;
	background-color:#1f3f5e; 

}

.botao-novo{

	margin-bottom:35px;

}



.paginacao{

	margin-top:25px;

}

.mensagem-sucesso{

	font-size:16px;
	color:#4c7438;
	text-align: center;

}

.mensagem-erro{

	font-size:16px;
	color:#8e3d41;
	text-align: center;

}

.tabelas{

	font-size: 14px;
}

.quadro{
	width:600px;
}

.quadro .btn-success{
	width:60px;
	color:white;
}

.quadro .btn-danger{
	width:60px;
	color:white;
}

.quadro .btn-success:hover{
	
	color:#dedede;
}

.quadro .btn-danger:hover{
	
	color:#dedede;
}

.totalpago{
	font-size:14px;
	margin-top:10px;
	margin-right:55px;
}

.alertas{
	position: absolute;
	bottom:57px;
	height:50px;
	text-align:center;
	padding-top:10px;
}